*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --clr-dark-desaturated-blue-text: hsl(229, 23%, 23%);
  --clr-dark-grayish-blue-text: hsl(227, 10%, 46%);
  --clr-dark-gray-text: hsl(0, 0%, 59%);

  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-gray: hsl(195, 6%, 87%);
  --clr-white: #ffffff;

  --font-12-regular: 400 0.75rem/1rem 'Kumbh Sans', sans-serif;
  --font-16-regular: 400 1rem/1.25rem 'Kumbh Sans', sans-serif;
  --font-18-regular: 400 1.125rem/1.375rem 'Kumbh Sans', sans-serif;
  --font-18-bold: 700 1.125rem/1.375rem 'Kumbh Sans', sans-serif; */
}

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  /* height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--clr-dark-cyan);
  display: flex;
  justify-content: center;
  align-items: center;  */
}

/* background */

/* Typography */

/*///////////////////////////////*/
/* SECTIONS */
/*///////////////////////////////*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
